/* Document as a whole */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}


@media(min-width: 401px) {
/* Sidebar */
.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 350px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 21px;
  color: #000;
  display: block;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #8D230F;
}

/* Style page content */
.main {
  margin-left: 350px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* Sidebar Header */
.tecDoc-sidebar-header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-top: 0;
    padding-bottom: 20px;
}

/* h2 Sidebar Header */
h2.tecDoc-sidebar-header {
    margin-bottom: 0;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* References(bottom of sidebar) */
a.techDoc-sidebar-reference {
    border-bottom: none;
}

}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
/* Sidebar */
.sidenav {
  height: 40%; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  border-bottom: 2px solid black;
}

a.nav-link:nth-child(1) {
    border-top: 5px solid black;
}

.main {
  margin-left: 350px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* Sidebar Header */
.tecDoc-sidebar-header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    margin-top: 0;
    padding-bottom: 20px;
}

/* h2 Sidebar Header */
h2.tecDoc-sidebar-header {
    margin-bottom: 20px;
    border-bottom: none;
}

#techDocPageLinks.sidenav {
    border-bottom: 4px solid black;
}
}